* {
    box-sizing: border-box;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.content-top {
    width: 100%;
    height: 90px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    width: 90%;
    margin: auto;
}

.header {
    background-image: url(../img/bg_header.jpg);
    height: 100vh;
    background-size: cover;
}

.logo {
    transition: all 0.3s ease-in;
}

.logo:hover {
    transform: translateY(-10px);
}

.header-navigation {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.header-navigation-link {
    text-decoration: none;
    color: white;
    margin-left: 47px;
    font-size: 15px;
    line-height: 135%;
    transition: all 0.5s ease;
}

.header-navigation-link:hover {
    transform: translateY(-10px);
}

.search-lang {
    display: flex;
    justify-content: start;
    align-items: center;
}

.header-search {
    outline: none;
    background-color: transparent;
    border: none;
    background-image: url(../img/Search.svg);
    background-repeat: no-repeat;
    background-position: right center;
    margin-left: 1px;
    transition: all 0.3s ease-in;
}

.header-search:hover {
    transform: translateY(-10px);
}

.globe {
    margin-left: 50px;
    margin-right: 11px;
    transition: all 0.3s ease-in;
}

.globe:hover {
    transform: translateY(-10px);
}

.bottom-header-wrap {
    width: 100%;
    border-top: 1px solid #fff;
}

.bottom-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    height: 100%;
}

.bottom-content-text {
    margin-top: 100px;
}

.bottom-content-title {
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 160%;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-bottom: 0;
}

.bottom-content-description {
    color: #fff;
    margin-top: 0;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
}

.bottom-content-link {
    color: #fff;
    font-size: 16px;
    line-height: 135%;
}

.bottom-content-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    max-width: 540px;
    height: 353px;
    margin-top: 100px;
}

.card {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    transition: all 0.3s ease-in;
}

.card-title {
    font-weight: 500;
    font-size: 21px;
    line-height: 130%;
    letter-spacing: -0.01em;
    margin-left: 40px;
}

.card-link {
    margin-left: 40px;
}

.first {
    background-color: #2378fc;
    width: 255px;
    height: 148px;
    margin-right: 15px;
}

.first:hover {
    transform: translateY(-20px);
}

.second {
    background-color: #30bcc9;
    width: 255px;
    height: 148px;
}

.second:hover {
    transform: translateY(-20px);
}

.third {
    background-color: #ffc41e;
    margin-right: 15px;
    width: 255px;
    height: 175px;
}

.third:hover {
    transform: translateY(20px);
}

.fourth {
    background-color: #f6404f;
    width: 255px;
    height: 175px;
}

.fourth:hover {
    transform: translateY(20px);
}

.section1 {
    height: 100%;
    width: 100%;
    background-color: #2378fc;
    display: flex;
    justify-content: space-around;
}

.section1-links {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.section1-links-title {
    margin-top: 0;
    color: white;
    letter-spacing: -0.01em;
    font-weight: 500;
    font-size: 25px;
    line-height: 130%;
    margin-bottom: 20px;
    transition: all 0.3s ease-in;
}

.section1-links-title:hover {
    transform: translateY(-10px);
}

.section1-links-link {
    font-size: 16px;
    line-height: 135%;
    color: white;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 10px;
    transition: all 0.3s ease-in;
}

.section1-links-link:hover {
    color: #ffc41e;
    text-decoration: underline;
    transform: translateX(10px);
}