* {
    box-sizing: border-box;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.content-top {
    width: 100%;
    height: 90px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    width: 90%;
    margin: auto;
}

.header {
    background-image: url(../img/bg_header.jpg);
    height: 100vh;
    background-size: cover;
}

.header-navigation {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.header-navigation-link {
    text-decoration: none;
    color: white;
    margin-left: 47px;
    font-size: 16px;
    line-height: 135%;
}

.search-lang {
    display: flex;
    justify-content: start;
    align-items: center;
}

.header-search {
    outline: none;
    background-color: transparent;
    border: none;
    background-image: url(../img/Search.svg);
    background-repeat: no-repeat;
    background-position: right center;
    margin-left: 1px;
}

.globe {
    margin-left: 50px;
    margin-right: 11px;
}

.bottom-header-wrap {
    width: 100%;
    border-top: 1px solid #fff;
}

.bottom-content {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

.bottom-content-text {
    margin-top: 100px;
}

.bottom-content-title {
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 160%;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-bottom: 0;
}

.bottom-content-description {
    color: #fff;
    margin-top: 0;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
}

.bottom-content-link {
    color: #fff;
    font-size: 16px;
    line-height: 135%;
}

.bottom-content-cards {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    max-width: 540px;
    max-height: 353px;
}

.card {
    color: #fff;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.card:first-child {
    background-color: #2378fc;
    padding-top: 30px;
    padding-left: 40px;
}

.card:second-child {
    background-color: #30bcc9;
}